@{
    ViewData["Title"] = "Home Page";
    var deletedMemberFullName = ViewData["MemberName"];
}

<div class="text-center">
    <h1 class="display-4">Person <span class="text-danger font-weight-bold">@deletedMemberFullName</span> was removed from the list successfully!!</h1>
</div>
